<!-- <header>
  <img src="assets/BaseLogo.svg" alt="EventSolutions Logo" class="logo">
</header> -->
<app-form [title]="'login'" [submit]="login">
  <input type="text" [(ngModel)]="name" name="name" placeholder="username" required />
  <input type="password" [(ngModel)]="password" name="password" placeholder="password" required />
  <div class="forgot-password">
        <a class="link-register" (click)="goToForgotPassword(); $event.preventDefault()" style="cursor: pointer;">olvidaste tu contraseña?</a>
  </div>
  <button type="submit">Enter</button>
  <div class="no-account">
    <p>
        ¿No tienes cuenta? <a class="link-register" href="/register">Regístrate aquí</a>
    </p>
  </div>
</app-form>
