.bodyContiner {
  margin: 0;
  height: 100vh; /* ocupa todo el alto de la pantalla */
  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-image: url("../../../assest/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

p{
  color: white;
}

a{
  color: greenyellow;
}


.login-container {
  max-width: 350px;
  margin: 100px auto;
  margin-right: 40px; /* espacio desde el borde derecho */
  height: 80vh;
  display: flex;
  justify-content:center;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: transparent;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 8vh;
  margin-bottom: 2rem;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: white;
  background: transparent;
  
}

button {
  padding: 0.75rem;
  background-color: #100997;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  text-align: center;
}
