<app-form [title]="'register'" [submit]="register">
  <input type="text" [(ngModel)]="name" name="name" placeholder="username" required />
  <input type="email" [(ngModel)]="gmail" name="gmail" placeholder="email" required />
  <input type="password" [(ngModel)]="password" name="password" placeholder="password" required />
  <input type="password" [(ngModel)]="ConfirmPassword" name="confirmPassword" placeholder="confirm password" required />
  
  <button type="submit">Register</button>
  <div class="no-account">
    <p>
      ¿Ya tienes cuenta? <a href="/">login</a>
    </p>
  </div>
  <p *ngIf="error" class="error">{{ error }}</p>
</app-form>